@import url(https://fonts.googleapis.com/css?family=Satisfy);
.container-fluid .sec-heading {
  font-family: 'Satisfy', cursive;
  font-size: 36px;
  color: #666;
  text-align: center;
}
.container-fluid .sec-heading:after {
  margin: 0 auto;
  content: "";
  height: 1px;
  width: 25%;
  border: 1px solid #4285bf;
  display: block;
  margin-top: 5px;
}
.container-fluid .know-more {
  font-family: 'Satisfy', cursive;
  font-size: 18px;
  color: #4285bf;
  border: 1px solid #666;
  background-color: #fff;
  padding: 5px 15px;
  display: inline-block;
  margin-right: 30px;
  border-radius: 5px 15px;
  text-decoration: none;
  cursor: pointer;
}
.container-fluid .know-more:hover {
  color: #fff;
  background-color: #4285bf;
}
.container-fluid .content {
  color: #666;
  font-size: 20px;
  padding-top: 20px;
  line-height: 32px;
}
.container-fluid .header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 997;
  opacity: 0.9;
  background-color: #ddd;
}
.container-fluid .header .bg-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #fff;
  -webkit-filter: blur(3px);
}
.container-fluid .header ul {
  margin-top: 30px;
  vertical-align: middle;
  z-index: 999;
}
.container-fluid .header ul .active a {
  color: #fff;
}
.container-fluid .header ul li a {
  color: #000;
}
.container-fluid .header .main-logo {
  display: inline-block;
  background-image: url("../images/cog-icon-2.png");
  background-repeat: no-repeat;
  width: 350px;
  height: 80px;
  margin-left: 3%;
}
.container-fluid .banner-sec {
  background-image: url("../images/banner1.jpg");
  height: 100vh;
  position: relative;
}
.container-fluid .banner-sec .overlay-sec1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(39, 62, 84, 0.82);
}
.container-fluid .banner-sec .content-body {
  padding-top: 40vh;
  height: 500px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.container-fluid .banner-sec .content-body .one-style {
  font-size: 100px;
  color: #fff;
  display: inline-block;
  font-family: 'Satisfy', cursive;
}
.container-fluid .banner-sec .content-body .one-style .one-sub-style {
  font-size: 48px;
}
.container-fluid .section-t2 {
  min-height: 250px;
}
.container-fluid .about-sec {
  min-height: 340px;
  padding: 20px;
}
.container-fluid .about-sec .ch-content {
  color: #666;
  font-size: 20px;
  padding-top: 20px;
  line-height: 32px;
}
.container-fluid .pastor-sec {
  background-color: #666;
  color: #fff !important;
  padding: 20px 0;
  height: 400px;
  overflow: hidden;
}
.container-fluid .pastor-sec h2 {
  color: #fff;
}
.container-fluid .pastor-sec .ps-img {
  background-image: url("../images/bman.jpg");
  border-radius: 15px;
  height: 275px;
}
.container-fluid .pastor-sec .ps-content {
  color: #666;
  font-size: 20px;
  padding-top: 20px;
  line-height: 32px;
  color: #fff;
}
.container-fluid .join-sec {
  padding: 20px 0;
}
.container-fluid .blog-sec {
  padding: 20px 0;
  background-image: url("../images/blog-bg.jpg");
  background-size: cover;
  height: 500px;
  position: relative;
}
.container-fluid .blog-sec .blog-overlay {
  background: rgba(11, 82, 103, 0.74);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.container-fluid .blog-sec .sec-heading {
  position: relative;
}
.container-fluid .blog-sec .blog-sec-body {
  text-align: center;
}
.container-fluid .blog-sec .blog-sec-body .single-blog-outer {
  width: 240px;
  height: 350px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-left: 20px;
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
  overflow: hidden;
}
.container-fluid .blog-sec .blog-sec-body .blog-inner-img {
  height: 150px;
}
.container-fluid .blog-sec .blog-sec-body .blog-inner-content {
  height: 155px;
  text-overflow: ellipsis;
  float: left;
  padding: 5px;
  overflow: hidden;
}
.container-fluid .blog-sec .blog-sec-body .blog-inner-content .title-blog {
  color: #4285bf;
  font-size: 18px;
}
.container-fluid .blog-sec .blog-sec-body .read-btn {
  color: #fff;
  background-color: #4285bf;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  padding-top: 8px;
}
.container-fluid .blog-sec h2 {
  color: #fff;
}
.container-fluid .footer-sec {
  overflow: hidden;
  height: 300px;
  background-image: url("../images/cog-map.png");
}
.container-fluid .footer-sec .footer-content {
  margin: 15px;
}
.container-fluid .footer-sec .footer-content div {
  display: inline-block;
}
