.image-cont {
    width: 85%;
    margin: 0 auto;
}

.image-cont img {
    width: 100%;
    height: 100%;
}

.body-blog{
	color: #666;
	font-size: 21px;
	line-height: 27px;
	padding: 20px;
}

.body-blog p{
	line-height: 27px;
}

.body-blog li{
	color: #666;
	font-size: 21px;
	line-height: 27px;
}

.blog-title{
	padding: 20px;
	text-align: center;
}