body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    /*background-image: url("../images/bgImg.gif");
    background-repeat: repeat;*/
}

.container {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.nav-bar {
    /*background-color: #23343b;*/
    height: 75px;
    z-index: 101;
    position: absolute;
    width:100%;
    color:#fff;   
    /*border-bottom: 4px solid #FFFE91;
*/    /*background-image: url("../images/nav-bg.jpg");
    background-size: 100% 100%;*/
}

.main-logo {
    margin: 5px;
    width:275px;
    height:65px;
}
.name-container{
    /*background-color:#fff; */
    margin-top: 5px;
    left: 35px;
}
.title-name {
    display: inline-block;
    color: #666666;
    vertical-align: middle;
    /*margin-top: 10px;*/
    margin-left: 10px;
    text-align: center;
}

.title-main {
    font-size: 36px;
    text-shadow: 0px 0px 1px #000;
}

.title-sub {
    font-size: 18px;
    margin-top: -13px;
}

.nav-menu {
    font-size: 16px;
    margin-top: 27px;
    text-align: right;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.nav-menu-option {
    display: inline-block;
    margin-right: 50px;
}

.nav-menu-option:hover {
    border-bottom: 3px solid #ff5738;
    cursor: pointer;
    transition: 1s all linear;
    -webkit-transition: 1s all linear;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -ms-transition: 1s all ease;
}
.section1-bg{
    height:575px;
}
.welcome-text{
        width: 600px;
    height: 70%;
    margin: 0 auto;
    margin-top: 10%;
}
.welcome-text img{
    width:100%;
    height:100%;
}
.carousel-section {
    /*margin-top: 95px;*/
}

.carousel-bg {
    width: 100%;
    height:100%;
}
.section-cn{
	margin-top:30px;
	margin-bottom:30px;
}
.section-title {
    font-size: 32px;
    color: #666666;
    text-shadow: 0px 0px 1px #000;
    text-align:center;
    margin:20px;
}
.section-body{
	font-size: 18px;
	line-height:200%;
	text-align:justify;	
}
.link-button-sec{
	text-align: center;
	border: 1px solid #666;
	cursor:pointer;
	font-size:14px;
    width: 140px;
}
.link-button-sec:hover{
    background-color:#ff5738;
    color:#fff;
    transition:1s all ease;
    -webkit-transition:1s all ease;
    -moz-transition:1s all ease;
    -o-transition:1s all ease;
    -ms-transition:1s all ease;
}

.main-section-container{
    width:900px;
    height:800px;
    text-align: center;
    margin:0 auto;
    margin-top:30px;
    padding:10px;
    background-color: #fff;
}
.verse-cont{
    font-family: 'NTR', sans-serif;
    font-size:20px;
    margin-top:30px;
}