h1 {
    font-size: 36px;
    color: #221e1e;
}
.page-outer-style {
    margin: 70px 150px;
}

p{
    color:#666;
    line-height: 22px;
}

.fullpage {
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.read-more-btn {
    padding: 8px 25px;
    border: 2px solid #f36100;
    border-radius: 50px;
    display: inline-block;
    margin-left: 50%;
    margin-top: 30px;
    transform: translate(-50%);
    cursor: pointer;
    font-size: 16px;
}

.read-more-btn:hover {
    background-color: #f36100;
    color: #fff;
}

.nav-container {
    text-align: right;
    float: right;
    margin: 20px 30px 0 0;
}

.nav-container > ul > li {
    display: inline-block;
    vertical-align: top;
}

.nav-container > ul >li > a {
    display: block;
    text-decoration: none;
    color: #666666;
    padding: 20px 20px 10px 20px;
}

.nav-container > ul >li:hover > a {
    color: #f36100;
    /*border-bottom: 2px solid #666;*/
}

.nav-container > ul >li > .active {
    color: #f36100;
    border-bottom: 2px solid #666;
}

.nav-container ul li ul {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    box-shadow: 1px 1px 13px #888;
}

.nav-container ul li ul li {
    text-decoration: none;
    list-style: none;
    margin: 0px;
}

.nav-container ul li ul li a {
    color: #666666;
    padding: 20px 20px 10px 20px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.nav-container ul li:hover > ul {
    display: block;
    margin-left: 0px;
    padding: 0px;
    margin: 0px 10px;
    text-align: left;
}

.nav-container ul li ul li:hover a {
    color: #f36100;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}

.logo-container {
    display: inline-block;
}

.logo-container>img {
    width: 500px;
    margin: 20px 0 0 20px;
}

.slider-section {
    margin-top: 20px;
}

.slider-content {
    height: 500px;
    background-color: #ddd;
}

.slider-content img {
    width: 100%;
}

.title {
    font-size: 62px;
    color: #221e1e;
    font-family: 'Tangerine', cursive;
    text-align: center;
    padding: 10px;
}

.slick-prev:before,
.slick-next:before {
    color: #666 !important;
}

.contact-container {
    background: url('../images/Bangalore.jpg');
    width: 100%;
    height: 400px;
    position: relative;
}

.contact-container .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.73);
    top: 0;
    left: 0;
    z-index: 1;
}

.contact-section {
    position: relative;
    z-index: 2;
    width: 50%;
    /*background-color: #fff;*/
}

.follow-section {
    position: relative;
    z-index: 2;
    width: 50%;
}

.request-section {
    position: relative;
    z-index: 2;
    width: 50%;
}

.con-title {
    text-align: center;
    padding: 30px 10px;
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    color: #ffffff;
    z-index: 2;
    width: 100%;
    height: 55px;
    position: relative;
}

.con-addr {
    width: 600px;
    text-align: center;
    margin: 0 auto;
    font-size: 17px;
    color: rgba(234, 234, 234, 0.82);
    z-index: 2;
    position: relative;
}

.con-email {
    color: #90d8d8;
}

.header-res-bar {
    display: none;
}

.map-style {
    width: 100%;
    height: 400px;
}

.follow-box {
    width: 320px;
    position: relative;
    margin: 30px auto;
}

.follow-icon-ctr {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.65);
    cursor: pointer;
}

.follow-icon-ctr img {
    width: 100%;
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .nav-container {
        float: none;
        text-align: center;
    }
    header {
        text-align: center;
    }
    .nav-container > ul > li {
        display: inline-block;
        margin: 20px;
    }
    .fullpage {
        max-width: 1280px;
    }
    .con-addr {
        width: 600px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .nav-container {
        float: none;
        text-align: center;
        height: 0px;
    }
    header {
        text-align: center;
    }
    .nav-container > ul > li {
        display: inline-block;
        margin: 10px;
    }
    .fullpage {
        max-width: 1024px;
    }
}

@media only screen and (min-width: 480px) and (max-width:768px) {
    /*.about-cogk-container,*/
    /*.join-us-container,*/
    /*.pastor-container,*/
    /*.blog-container,*/
    /*.activity-container,*/
    /*.contact-container {
        display: none;
    }*/
    header {
        text-align: center;
    }
    .logo-container {
        display: inline-block;
        width: 80%;
        text-align: center;
        margin-bottom: 30px;
    }
    .logo-container img {
        width: 100%;
    }
    .header-res-bar {
        height: 25px;
        width: 70%;
        display: block;
        background-color: #666;
        margin: 0 auto;
        text-align: center;
        border-radius: 50px;
        padding: 10px;
        color: #fff;
        font-size: 17px;
        cursor: pointer;
    }
    .nav-container {
        display: block;
        float: none;
        text-align: center;
        height: 0px;
        overflow: hidden;
        transition: height 0.3s linear;
    }
    .nav-container > ul > li {
        display: block;
    }
    .nav-container > ul >li > a:hover {
        color: #f36100;
        border-bottom: none;
    }
    .nav-container > ul >li > .active {
        color: #f36100;
        border-bottom: none;
    }
    .fullpage {
        max-width: 4768px;
    }
    .title {
        font-size: 42px;
    }
    .slider-section {
        display: none;
    }
    .contact-section {
        position: relative;
        z-index: 2;
        width: 100%;
        display: block;
        /*background-color: #fff;*/
    }
    .contact-container {
        background-repeat: no-repeat;
        height: 100%;
        background-size: cover;
    }
    .con-title {
        font-size: 42px;
    }
    .show-menu {
        /*display: block !important;*/
        height: 350px;
        transition: height 0.3s linear;
    }
    .con-addr {
        width: 400px;
    }
}

@media only screen and (min-width: 360px) and (max-width:480px) {
    /*.about-cogk-container,*/
    /*.join-us-container,*/
    /*.pastor-container,*/
    /*.blog-container,*/
    /*.activity-container,*/
    /*.contact-container {
        display: none;
    }*/
    header {
        text-align: center;
    }
    .logo-container {
        display: inline-block;
        width: 95%;
        text-align: center;
        margin-bottom: 30px;
    }
    .logo-container img {
        width: 100%;
    }
    .header-res-bar {
        height: 25px;
        width: 70%;
        display: block;
        background-color: #666;
        margin: 0 auto;
        text-align: center;
        border-radius: 50px;
        padding: 10px;
        color: #fff;
        font-size: 17px;
        cursor: pointer;
    }
    .nav-container {
        display: block;
        float: none;
        text-align: center;
        height: 0px;
        overflow: hidden;
        transition: height 0.3s linear;
    }
    .nav-container > ul > li {
        display: block;
    }
    .nav-container > ul >li > a:hover {
        color: #f36100;
        border-bottom: none;
    }
    .nav-container > ul >li > .active {
        color: #f36100;
        border-bottom: none;
    }
    .title {
        font-size: 42px;
    }
    .slider-section {
        display: none;
    }
    .show-menu {
        /*display: block !important;*/
        height: 350px;
        transition: height 0.3s linear;
    }
    .common-sec-style {
        padding: 30px 30px;
        margin: 30px 0;
    }
    .contact-section {
        position: relative;
        z-index: 2;
        width: 100%;
        display: block;
    }
    .contact-container {
        background-repeat: no-repeat;
        height: 100%;
        background-size: cover;
    }
    .con-title {
        font-size: 42px;
    }
    .con-addr {
        width: 350px;
    }
}
